.DS_Store
*.local
dist
dist-ssr
node_modules
.idea/
*.log
*.tsbuildinfo

components.d.ts

# vite-ssg
.vite-ssg-dist
.vite-ssg-temp

# valaxy rss
blog/public/rss.xml
blog/public/rss.atom
blog/public/rss.json

# valaxy fuse
valaxy-fuse-list.json

.env
.sponsorkit

temp/
# /demo/

.agents/skills/*
.claude/skills/*
