.DS_Store
*.local
dist
dist-ssr
node_modules
.idea/
*.log
*.tsbuildinfo

components.d.ts

# vite-ssg
.vite-ssg-dist
.vite-ssg-temp

# valaxy rss
*/public/rss.xml
*/public/rss.atom
*/public/rss.json
*/public/atom.xml
*/public/feed.json
*/public/feed.xml

# valaxy fuse
valaxy-fuse-list.json

.env
.sponsorkit

temp/
# /demo/

.agents/skills/*
.claude/skills/*
