@use 'valaxy/client/styles/mixins/index.scss' as *;

// use common code styles, you also can override them or copy/modify them
@use 'valaxy/client/styles/common/code.scss' as *;
@use 'valaxy/client/styles/common/markdown.scss' as *;

@use 'valaxy/client/styles/components/code.scss' as *;
@use 'valaxy/client/styles/components/code-group.scss' as *;
@use 'valaxy/client/styles/components/custom-block.scss' as *;

.markdown-body {
  --c-toc-link: var(--md-sys-color-on-surface-variant);
  --va-c-bg-mute: var(--md-sys-color-surface-container);
  --va-c-divider: var(--md-sys-color-outline-variant);
  --va-c-text-code: var(--md-sys-color-primary);
}

html.dark {
  .markdown-body {
    --c-toc-link: var(--md-sys-color-on-surface-variant);
  }
}

.markdown-body {
  // padding-top: 0.5rem;
  word-wrap: break-word;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--va-font-family-base);
    font-weight: 900;
  }

  ul {
    li > p {
      margin-bottom: 0;
    }
  }

  blockquote {
    margin: 16px 0;
    padding: 1rem 1.25rem;
    border-left: 0;
    border-radius: var(--lgc-radius-large);
    background: var(--md-sys-color-surface-container);

    p {
      margin: 0;
      font-size: 16px;
      color: var(--md-sys-color-on-surface-variant);
    }
  }

  code:not(pre > code) {
    color: var(--va-c-text-code);
    background-color: var(--va-c-bg-mute);
    padding: 3px 6px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 0.85em;

    &::before {
      content: none;
    }

    &::after {
      content: none;
    }
  }
}
